fastapi
uvicorn
gunicorn
jinja2
python-multipart
openai 
python-dotenv  
requests
fastapi-logger
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-openai