Flask
Flask-WTF
werkzeug  
gunicorn
uvicorn  
uvloop>=0.16
httptools  
watchfiles  
openai  
azure-identity  
aiohttp  
python-dotenv  
pyyaml  
opentelemetry-instrumentation-flask  
opentelemetry-instrumentation-requests

dc-schema
requests
azure-monitor-opentelemetry 
