Flask
Flask-WTF
aiohttp  
azure-identity
azure-identity  
azure-monitor-opentelemetry 
dc-schema
gunicorn
httptools  
openai  
opentelemetry-instrumentation-flask  
opentelemetry-instrumentation-requests
python-dotenv  
pyyaml  
redis
requests
uvicorn  
uvloop>=0.16
watchfiles  
werkzeug  