<section id="movies">
    {% if form %}
    <div class="container" id="movieForm">
        <form action="/" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.movie1Title.label }}
                {{ form.movie1Title(class="form-control") }}

                <small id="movie1Help" class="form-text text-muted">provide a movie title</small>
            </div>
            <div class="form-group">
                {{ form.movie2Title.label }}
                {{ form.movie2Title(class="form-control") }}
                <small id="movie2Help" class="form-text text-muted">provide another movie title</small>
            </div>
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    {% endif %}
    {% if rambimodel %}

    <div class="container mt-5" id="movieResults">
        <div class="row h-100 p-3 bg-body-tertiary border rounded-3">
            <div class="col-sm" id="action">
                <form>
                    <div class="container ">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Generate a new movie based on the 2 movies
                                        (title, pitch and poster) </label>
                                    <input type="hidden" id="rambimodel" name="movie1Title"
                                        value="{{ rambimodel.movie1.title }}">
                                    <input type="hidden" id="rambimodel" name="movie1Id"
                                        value="{{ rambimodel.movie1.id }}">
                                    <input type="hidden" id="rambimodel" name="movie2Title"
                                        value="{{ rambimodel.movie2.title }}">
                                    <input type="hidden" id="rambimodel" name="movie2Id"
                                        value="{{ rambimodel.movie2.id }}">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <select class="form-select" id="genreSelect" name="genre">
                                        {% for genre in rambimodel.default_genres %}
                                        <option value="{{ genre }}">{{ genre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm">
                                <button class="btn btn-primary" type="button" id="btn-trigger-aigenerate-movie"
                                    hx-post="/movie/generate" hx-target="#aimovieresults"
                                    hx-include="[name='movie1Id'],[name='movie2Id'],[name='genre']">
                                    Generate Movie
                                    <span class="htmx-indicator spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row h-100 p-3 bg-body-tertiary border rounded-3">
            <div class="col-sm">
                {% with movie=rambimodel.movie1 %}
                {% include "movie.html" %}
                {% endwith %}
            </div>
            <div class="col-sm">
                {% with movie=rambimodel.movie2 %}
                {% include "movie.html" %}
                {% endwith %}
            </div>
            <div class="col-sm" id="aimovieresults">

            </div>
        </div>
    </div>

    <div class="container mt-5">

    </div>
    {% endif %}
</section>