<div class="card">
    {% if movie.poster_url %}
    {% with url=movie.poster_url %}
    {% include "poster.html" %}
    {% endwith %}
    {% else %}
    <div hx-post="/poster/generate" hx-trigger="load delay:1s" hx-include="find input">
        <input type="hidden" id="poster_description" name="poster_description" value="{{movie.poster_description}}" />
        <img class="card-img-top" alt="Card image cap2"
            src="https://placehold.co/150x220?text=Generation%20in%20Progress" />
        <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
    {% endif %}
</div>
<div class="card-body">
    <h5 class="card-title" id="movie_title_main" name="movie_title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.plot }}</p>
    {% if movie.poster_description %}
    {% with poster_description=movie.poster_description %}
    {% include "poster_description.html" %}
    {% endwith %}
    {% else %}
    <div hx-post="/movie/poster_description" hx-trigger="load delay:1s" hx-include="find input">
        <input type="hidden" id="movie_title_main_2" name="movie_title" value="{{movie.title}}" />
        <p class="card-text"><small class="text-muted">LLM Query: get the poster description
                <span class="htmx-indicator spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span></small>
        </p>
    </div>
    {% endif %}
</div>