<div class="container" id="movieResults">
    <div class="row">
        <div class="col-sm">
            <div class="card-group" id="movie1Result">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap">{rambimodel.movie1.poster_url}</img>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{rambimodel.movie1.title}</h5>
                    <p class="card-text">{rambimodel.movie1.plot}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card-group" id="movie2Result">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap">{rambimodel.movie2.poster_url}</img>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{rambimodel.movie2.title}</h5>
                    <p class="card-text">{rambimodel.movie2.plot}</p>
                    <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
                </div>
            </div>

        </div>
    </div>
</div>